numpy==1.26.0                       ; python_version == "3.11.*"
opencv-python-headless==4.9.0.80    ; python_version == "3.11.*"
easyocr==1.7.1                      ; python_version == "3.11.*"
PySide6==6.5.2                      ; python_version == "3.11.*"